

<div class="container-table">
  <div class="table">
    <button class="btn" *ngIf="j>0" (click)="editarVaribles()">Editar variables</button>

    <span style="font-size: 1.2rem">{{j==0 ?name : "Simulacion"+j}}</span>
    <br>
    <span>{{getDataModificada()}}</span>

    <table class="excel-table">
      <tr >
        <th>M</th>
        <th>Ln (M)</th>
        <th>Vl</th>
        <th>Variacion</th>
        <th>%</th>

      </tr>

      <tr *ngFor="let table of datatable" >
        <td>{{table.majustes}}</td>
        <td>{{table.ln | number:'1.2-2'}}</td>
        <td>{{table.vl | number:'1.2-2'}}</td>
        <td>{{table.variacion | number:'1.2-2'}}</td>
        <td>{{(table.percent*100 | number:'1.2-2')}}%</td>


      </tr>

    </table>



  </div>
  <div class="dashboard">
    <div class="chartcaja">
      <div class="chart-container">
        <canvas id="MyChart{{this.j}}" >{{ chart }}</canvas>
        <app-bar-chart></app-bar-chart>
        <div class="" style="align-items: center;padding-top: 0.5rem;padding-bottom: 0.4rem;display: inline-flex;column-gap: 1rem;margin-top:0.2rem" *ngIf="datatable.length>0">

          <span>Variables Y  de la tabla de la izquierda: </span>

          <div class="" *ngFor="let item of listaKeys()">
            <button class="btn" (click)="selectKey(item,j)" style="padding: 0.4rem 0.4rem"
                    [ngStyle]="{background:exitKey(item) ? 'lightblue': 'gray'}">
              {{formatColumns(item)}}
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>

  <button style="opacity: 0" (click)="createChart(j)">actualizar grafico</button>

</div>
