<form [formGroup]="FormCalculo" style="  zoom: 95%;" >
<div class="inputcss salt">
  <label for="majustes">M (ajustes) </label>
  <input class="form-control" style="background: rgb(9,132,227,.8)" formControlName="majustes" id="majustes" type="number">
</div>
<div class="line "></div>
<div class="inputcss salt">
  <label for="tTotal">Tiempo total (i) </label>
  <input class="form-control" formControlName="tTotal" id="tTotal" type="number">
</div>
<div class="inputcss">
  <label for="gmInpunt">Gm </label>
  <input class="form-control" formControlName="gmInpunt" id="gmInpunt" type="number">
</div>
<div class="inputcss">
  <label for="yminput">Ym </label>
  <input class="form-control" formControlName="yminput" id="yminput" type="number">
</div>
<div class="inputcss">
  <label for="ftotales">Flujos Totales </label>
  <input class="form-control" formControlName="ftotales" id="ftotales" type="number">
</div>


<div class="inputcss">

  <label for="ku">K <sub>u</sub> </label>
  <input class="form-control" formControlName="ku" id="ku" type="number">
</div>

<div class="inputcss">
  <label for="kd">K <sub>d</sub> </label>
  <input class="form-control" formControlName="kd" id="kd" type="number">
</div>
<div class="inputcss">
  <label for="xt">X <sub>t</sub> </label>
  <input class="form-control" formControlName="xt" id="xt" type="number">
</div>
<div class="inputcss">
  <label for="delta">DELTA </label>
  <input class="form-control" formControlName="delta" id="delta" type="number">
</div>
<div class="inputcss">
  <label for="timpuestos">T </label>
  <input class="form-control" formControlName="timpuestos" id="timpuestos" type="number">
</div>

<div class="inputcss">
  <label for="factor">FACTOR </label>
  <input class="form-control" formControlName="factor" id="factor" type="number">
</div>
</form>
