/* app.component.css */
*{
  font-family: "Segoe UI", serif;
}
/* Estilo general de la tabla */
table {
  width: 100%;
  max-width: 700px; /* Establece el ancho máximo deseado */
  border-collapse: collapse;
  overflow-x: auto;
  text-align: center/* Agrega barras de desplazamiento horizontales */
}

/* Estilo de las celdas de encabezado */
th {

  font-family: "Segoe UI", serif;
  font-weight: bold;
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;

}


/* Estilo de las celdas de datos */
td {
  padding: 10px;
  border-bottom: 1px solid #ccc;

}

/* Estilo para resaltar la primera columna (si se desea) */
td:first-child {
  font-weight: bold;
}

/* Estilo para las filas alternas (para mejorar la legibilidad) */
tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Estilo al pasar el cursor por las filas */
tr:hover {
  background-color: #e6e6e6;
}

/* Estilo para eliminar los bordes verticales internos de la tabla */
td:first-child,
th:first-child {
  border-left: none;
}

/* Estilo para eliminar los bordes verticales externos de la tabla */
tr:first-child th {
  border-top: none;
}

/* Estilo para eliminar los bordes horizontales del último elemento de la tabla */
tr:last-child td {
  border-bottom: none;
}

/* Estilo para hacer que el contenido de las celdas no se desborde */
td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Estilo para que el encabezado no se desborde y muestre los puntos suspensivos en caso de ser muy largo */
th {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.contenedor{
  width:1500px;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  margin: auto auto 5rem;
}
.controls-container{
  width: 100%;
  padding: 1em 10em;
  display:flex;
  flex-direction: row;
  height: 60px;
  justify-content: space-between;
  align-items:center;
}
label{
  font-weight: 400;
  font-size: 30px;
  color: #002060;
}
.down{
  display: flex;
  flex-direction: row;
  gap: 2em;
}
.line{
  width: 84%;
  height: 2px;
  background-color: #002060;

  margin-left: 8%;
}
#columnsToShow{
  width: 350px;
  height: 40px;
  padding:  0 1em;
  border: 2px solid #002060;
  color: rgb(0, 32, 96);
  border-radius: 5px;
}
button{
  background:#002060;
  padding: .7em 1.5em;
  color: #f7f7f7;
  border: #0078d4 solid 2px;
  border-radius: 7px;
  transition-duration: .2s;
  cursor:pointer;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  text-align: center;

}
#columnsToShow:focus{
  background:#f7f7f7;
  border: none;
  outline:2px solid #98bbd5;
}


.home-component{
  font-family: "Segoe UI", "Tahoma","Verdana",serif;

  display: flex;
  background: rgb(128, 130, 127,.5);
  justify-content: center;
  align-items: center;

}
.home-header{

  display: flex;
  justify-content:space-between;
  align-items: center;
}
.btn-header{
  display: flex;
  gap: 2em;
}
.btns{
  background:#002060;
  padding: .7em 1.5em;
  color: #f7f7f7;
  border: #0078d4 solid 2px;
  border-radius: 7px;
  transition-duration: .2s;
  cursor:pointer;
}
.btns:hover{
  color: #06193f;
  background: #f7f7f7;
}

.cajacontrol{
  display: flex;
  justify-content: center;
}

.m-container{
  width: 50%;
  padding:0 2em;
}
.calc-caja{
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  gap: 2em;
}
.titlee{
  text-align: center;
  color: #002060;
  font-size: 24px;
  margin-bottom: 1em;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  text-align: center;

}
input {
  padding: .5em 1em;
  outline: none;
  width: 60%;

  text-align: center;
}
.fl{
  padding: .5em 1em;
  width: 40%;
  font-size: 1rem;
  text-align: right;
}
.inputcss{
  display: flex;
  gap: 1em;
}
.container-input{
  margin-bottom: 2em;
}
.btn-calcular{
  width: 100%;
  text-align: center ;
}


.title-año{

  margin-top: 1em;
}
.tran{
  color: transparent;
}
.inputcss{
  margin-bottom: .5em;
}
.f-total{
  margin-top: 2em;
}
