<div class="controls-container">
  <div class="up">
    <label for="columnsToShow">Mostrar:</label>
  </div>
  <div class="down">
    <input  type="number" id="columnsToShow" [(ngModel)]="columnsToShow">
    <button (click)="prevColumns()">Atrás</button>
    <button (click)="nextColumns()">Adelante</button>
  </div>



</div>

<div class="line"></div>
<div class="cajacontrol"  *ngIf="dataload!=null">

  <form [formGroup]="FormCalculo" style="  zoom: 95%;" >
    <div class="calc-caja " >

      <div class="anual-container">
        <div class="titlee">Flujo Anual</div>
        <div class="inputcss">
          <label for="flujoAnual" class="fl">Flujo Anual: </label>
          <input class="form-control" formControlName="flujoanual" id="flujoAnual"  type="number"   >
        </div>
        <div class="titlee title-año">Años: <span class="tran">Flujo</span></div>
        <div class="inputcss">
          <label class="fl" for="ku">Ku: </label>
          <input class="form-control" formControlName="ku" id="ku"  type="number" >
        </div>
        <div class="inputcss">
          <label class="fl" for="kd">Kd: </label>
          <input class="form-control" formControlName="kd" id="kd"  type="number" >
        </div>
        <div class="inputcss">
          <label class="fl" for="xt">Xt:  </label>
          <input class="form-control" formControlName="xt" id="xt"  type="number" >
        </div>
        <div class="inputcss">
          <label class="fl" for="Yinput">Y (D/E) </label>
          <input class="form-control" formControlName="Yinput" id="Yinput"  type="number" >
        </div>
        <div class="inputcss">
          <label class="fl" for="t-años">T años </label>
          <input class="form-control" formControlName="taños" id="t-años"  type="number" style="background: yellow"  >
        </div>
        <div class="inputcss">
          <label class="fl" for="gInpunt">g (Crecimiento anual) </label>
          <input class="form-control" formControlName="gInpunt" id="gInpunt"  type="number" >
        </div>
        <div class="" style="display: inline-flex;">
          <div class="inputcss f-total">
            <label class="fl" for="fTotal">Flujo Total </label>
            <input class="form-control" formControlName="fTotal" id="fTotal"  type="text"  >
            <label class="fl" for="fTotales">Flujos Totales </label>
            <input class="form-control" formControlName="fTotales" id="fTotales"  type="text"  >
          </div>

        </div>
      </div>
      <div class="m-container">
        <div class="titlee">Flujo con M ajustes</div>
        <div class="container-input">
          <div class="inputcss">
            <label class="fl" for="majustes">M (ajustes) </label>
            <input class="form-control" formControlName="majustes" id="majustes"  type="number" style="background: yellow" >
          </div>
          <div class="inputcss">
            <label class="fl" for="tTotal">Tiempo total (i) </label>
            <input class="form-control" formControlName="tTotal" id="tTotal"  type="number" >
          </div>
        </div>
        <div class="container-input">
          <div class="inputcss">
            <label class="fl" for="gmInpunt">Gm </label>
            <input class="form-control" formControlName="gmInpunt" id="gmInpunt"  type="number" >
          </div>
          <div class="inputcss">
            <label class="fl" for="yminput">Ym </label>
            <input class="form-control" formControlName="yminput" id="yminput"  type="number" >
          </div>
        </div>

        <div class="container-input">
          <div class="inputcss">
            <label class="fl" for="ku1">ku </label>
            <input class="form-control" formControlName="ku1" id="ku1"  type="number" >
          </div>

          <div class="inputcss">
            <label class="fl" for="kd1">kd </label>
            <input class="form-control" formControlName="kd1" id="kd1"  type="number" >
          </div>
          <div class="inputcss">
            <label class="fl" for="xt1">xt </label>
            <input class="form-control" formControlName="xt1" id="xt1"  type="number" >
          </div>
          <div class="inputcss">
            <label class="fl" for="timpuestos">T (tasa de impuestos) </label>
            <input class="form-control" formControlName="timpuestos" id="timpuestos"  type="number" >
          </div>
        </div>

      </div>

    </div>

  </form>

</div>

<div class="contenedor">
  <table>

    <tr>

      <th style="  color: black;">  <span>Flujo de Caja</span></th>

     <ng-container>
       <th class="aa" *ngFor="let item of colsNumber;let i=index">



       </th>
     </ng-container>
    </tr>

    <tbody>

    <tr *ngFor="let item2 of keys;let x=index" [ngStyle]="{borderTop: calculateStyle(x) ? 'solid 5px #002060' : ''}">
      <td *ngIf="x>0" style="text-align: center;background: rgb(5,80,161,.5);color: white">
        <p  [innerHTML]="(x ==12 ||  x==8 || x==9 || x==10 || x==11 ) ?   (item2 | uppercase|  subindice  ) : (x ==2 ||  x==3 || x==4 || x==5 || x==7 ) ? (item2 | uppercase | supindice) : (item2 | uppercase) "></p>

      </td>
      <td *ngIf="x==0" style="text-align: center;background:#002060;color: white">
        {{item2 | uppercase}}
      </td>

      <td *ngFor="let item of getVisibleColumns();let i=index" [ngStyle]="{background: x==0 ? '#002060' : '',color:x==0 ? 'white':'black'}" >







        <div class="" *ngIf="x>=1 && x<=7;else notnumber" >

          {{item[item2] | number:'1.2-2'}}
        </div>
        <ng-template #notnumber>
          {{x==0 ? (item[item2] ) : (item[item2] | number:'1.2-6') }}
        </ng-template>

      </td>

    </tr>

    </tbody>


  </table>

</div>
