<div class="controls-container">
  <div class="up">
    <label for="columnsToShow">Mostrar:</label>
  </div>
  <div class="down">
    <input  type="number" id="columnsToShow" [(ngModel)]="columnsToShow">
    <button (click)="prevColumns()">Atrás</button>
    <button (click)="nextColumns()">Adelante</button>
  </div>



</div>
<div class="line"></div>
<div class="">

</div>

<div class="contenedor">
  <table>

    <tr>

      <th>  <span>Flujo de Caja</span></th>

     <ng-container>
       <th class="aa" *ngFor="let item of colsNumber">

       </th>
     </ng-container>
    </tr>

    <tbody>

    <tr *ngFor="let item2 of keys">
      <td style="text-align: center;background: rgb(5,80,161,.5);color: white">{{item2 | uppercase}}</td>
      <td *ngFor="let item of getVisibleColumns()">

        {{item[item2]}}

      </td>

    </tr>

    </tbody>


  </table>

</div>
