<div class="home-component">
  <div class="home-form ">
    <div class="home-header" style="  zoom: 75%;">

      <h1 class="title">Flujo Equivalente Perpetuo</h1>

      <div class="btn-header">
        <button class="btns" (click)="cerrarSesion()">Cerrar Sesion</button>
        <button class="btns" (click)="infinito()">Flujo Finito</button>
        <!--<button class="btns" (click)="dashboard()">Mostrar Grafica</button>-->
        <button class="btns" (click)="clear()">Limpiar Ventana</button>
      </div>
    </div>


    <div class="line"></div>
    <form [formGroup]="FormCalculo" style="  zoom: 95%;" >
      <div class="calc-caja " >

        <div class="anual-container">

          <div class="inputcss">
            <label class="labels" for="flujoAnual">Flujo Anual: </label>
            <input class="form-control labels" formControlName="flujoanual" id="flujoAnual"  type="text" >
          </div>
          <div class="inputcss">
            <label for="ku">K<sub>u</sub>: </label>
            <input class="form-control" formControlName="ku" id="ku"  type="text" >
          </div>
          <div class="inputcss">
            <label for="kd">K<sub>d</sub>: </label>
            <input class="form-control" formControlName="kd" id="kd"  type="text" >
          </div>
          <div class="inputcss">
            <label for="t-años">T: </label>
            <input class="form-control" formControlName="taños" id="t-años"  type="text" >
          </div>
          <div class="inputcss">
            <label for="xt">X<sub>t</sub>:  </label>
            <input class="form-control" formControlName="xt" id="xt"  type="text" >
          </div>
          <div class="inputcss">
            <label  style="font-size: 16px" for="Yinput">Y (D/E) Constante </label>
            <input class="form-control" formControlName="Yinput" id="Yinput"  type="text" >
          </div>

          <div class="inputcss">
            <label style="font-size: 14px" for="gInpunt">g (Crecimiento anual) </label>
            <input class="form-control" formControlName="gInpunt" id="gInpunt"  type="text" >
          </div>
          <div class="line"></div>

          <div class="inputcss f-total blue">
            <label for="ttot">t</label>
            <input class="form-control blue " formControlName="ttot" id="ttot"  type="text" >
          </div>

          <div class="inputcss ">
            <label for="fcl">FCL </label>
            <input class="form-control" formControlName="FCL" id="fcl"  type="text" >
          </div>
          <div class="line"></div>
          <div class="inputcss salt ">
            <label for="vu">V<sub>u</sub> </label>
            <input class="form-control" formControlName="vu" id="vu"  type="text" >
          </div>
          <div class="inputcss ">
            <label for="Dinput">D</label>
            <input class="form-control" formControlName="Dinput" id="Dinput"  type="text" >
          </div>
          <div class="inputcss ">
            <label for="Einput">E</label>
            <input class="form-control" formControlName="Einput" id="Einput"  type="text" >
          </div>
          <div class="inputcss ">
            <label for="VAI">V<sub>AI</sub></label>
            <input class="form-control" formControlName="VAI" id="VAI"  type="text" >
          </div>
          <div class="inputcss  red">
            <label for="Vo">V<sub>0</sub> <sup>71</sup> </label>
            <input class="form-control red" formControlName="Vo" id="Vo"  type="text" >
          </div>
          <div class="inputcss red">
            <label for="Voinput">V<sub>0</sub> <sup>69</sup></label>
            <input  class="form-control red" formControlName="Voinput" id="Voinput"  type="text" >
          </div>
          <div class="line"></div>
          <div class="inputcss salt ">
            <label for="xtinput">X<sub>t</sub></label>
            <input class="form-control" formControlName="xtinput" id="xtinput"  type="text" >
          </div>
          <div class="inputcss salt ">
            <label for="kdinput">K<sub>d</sub></label>
            <input class="form-control" formControlName="kdinput" id="kdinput"  type="text" >
          </div>
          <div class="inputcss salt ">
            <label for="kuinput">K<sub>u</sub></label>
            <input class="form-control" formControlName="kuinput" id="kuinput"  type="text" >
          </div>
          <div class="inputcss salt ">
            <label for="keinput">K<sub>e</sub></label>
            <input class="form-control" formControlName="keinput" id="keinput" type="text" >
          </div>
          <div class="inputcss salt ">
            <label for="Deinput">D/E</label>
            <input class="form-control" formControlName="Deinput" id="Deinput"  type="text" >
          </div>
          <div class="inputcss salt ">
            <label for="wacc">WACC<sup>17NA</sup></label>
            <input class="form-control" formControlName="wacc" id="wacc"  type="text" >
          </div>
          <div class="line"></div>

          <div class="inputcss salt ">
            <label  style="color: transparent" for="totalfinal">total</label>
            <input class="form-control" formControlName="totalfinal" id="totalfinal"  type="text" >
          </div>
        </div>
        <div class="m-container">
          <div class="container-input">
            <div class="line"></div>
            <div class="inputcss salt">
              <label for="ttaños"   >T(t años) </label>
              <input class="form-control"  style="background: yellow" formControlName="ttaños" id="ttaños"  type="text" >
            </div>
            <div class="inputcss salt">
              <label for="majustes" >M (ajustes) </label>
              <input class="form-control"  style="background: yellow" formControlName="majustes" id="majustes"  type="text" >
            </div>
            <div class="line "></div>
            <div class="inputcss salt">
              <label for="tTotal">Tiempo total (i) </label>
              <input class="form-control"   formControlName="tTotal" id="tTotal"  type="text" >
            </div>
            <div class="line"></div>
          </div>
          <div class="container-input">

            <div class="inputcss">

              <label for="ku1">K <sub>u</sub> </label>
              <input class="form-control" formControlName="ku1" id="ku1"  type="text" >
            </div>

            <div class="inputcss">
              <label for="kd1">K <sub>d</sub> </label>
              <input class="form-control" formControlName="kd1" id="kd1"  type="text" >
            </div>
            <div class="inputcss">
              <label for="xt1">X <sub>t</sub> </label>
              <input class="form-control" formControlName="xt1" id="xt1"  type="text" >
            </div>
            <div class="inputcss">
              <label for="delta">DELTA </label>
              <input class="form-control" formControlName="delta" id="delta"  type="text" >
            </div>
            <div class="inputcss">
              <label for="timpuestos">T  </label>
              <input class="form-control" formControlName="timpuestos" id="timpuestos"  type="text" >
            </div>

            <div class="inputcss">
              <label for="factor">FACTOR </label>
              <input class="form-control" formControlName="factor" id="factor"  type="text" >
            </div>
            <div class="line"></div>
          </div>
          <div class="container-input">

          </div>
          <div class="container-input">


          </div>

          <div class="line"></div>
          <div class="inputcss salt">
            <label for="wmInpunt">W<sub>m</sub></label>
            <input class="form-control" formControlName="wmInpunt" id="wmInpunt"  type="text" >
          </div>
          <div class="inputcss salt">
            <label for="keinpunt">K<sub>e</sub></label>
            <input class="form-control" formControlName="keinpunt" id="keinpunt"  type="text" >
          </div>
          <div class="inputcss salt">
            <label for="kdm">K<sub>dm</sub></label>
            <input class="form-control" formControlName="kdm" id="kdm"  type="text" >
          </div>
          <div class="inputcss salt">
            <label for="kum">K<sub>um</sub></label>
            <input class="form-control" formControlName="kum" id="kum"  type="text" >
          </div>
          <div class="inputcss salt">
            <label for="gmInpunt">G<sub>m</sub></label>
            <input class="form-control" formControlName="gmInpunt" id="gmInpunt"  type="text" >
          </div>
          <div class="inputcss">
            <label for="yminput">Y<sub>m</sub> </label>
            <input class="form-control" formControlName="yminput" id="yminput"  type="text" >
          </div>
          <div class="inputcss">
            <label for="xminput">X<sub>m</sub></label>
            <input class="form-control" formControlName="xminput" id="xminput"  type="text" >
          </div>

        </div>


      </div>
      <div class="btn-calcular">

        <input  (click)="calcular()"  class="calcular-btn" type="button" value="Calcular">

      </div>


    </form>
  </div>


 <div class="contenedor-btn">
   <input type="checkbox" id="btn-mas">
   <div class="redes">
     <a class="excel" ><i class="pi pi-file-excel"></i></a>
     <a ><i class="pi pi-file-pdf"></i></a>
   </div>
   <div class="btn-mas">
     <label  class="icon-mas2" for="btn-mas"> <i class="pi pi-bars aea"></i></label>
   </div>

 </div>
</div>

