
<div class="login-container">
  <div class="header-container">
     <form [formGroup]="form" >
       <div class="caja-container">
         <div class="title-login">
           <h1>Login</h1>
         </div>
         <div class="cajadata">
           <span>Usuario:</span>
           <div class="caja-datos">
             <label><i class="fa-solid fa-user"></i></label>
             <input formControlName="email" class="form-control" type="text" placeholder="usuario@sistema.com ">
           </div>
         </div>
         <div class="cajadata">
         <span>Contraseña:</span>
         <div class="caja-datos">
           <label> <i class="fa-solid fa-lock"></i></label>
           <input formControlName="password" class="form-control" type="password" placeholder="Ingrese su clave">
         </div>
       </div>
       </div>
       <div class="btn">
         <div class="boton-login" (click)="Login()">
           <button type="button" class="btn btn-md btn-primary btn-style" [disabled]="form.invalid" [ngStyle]="{'opacity': form.invalid ? '0.7' : '1'}">Login</button>
         </div>
       </div>
     </form>
  </div>
</div>



